//========================================================================================================================
//                                                DEFAULT STYLING
//========================================================================================================================

//                        ANTD Components Styling

// antd wave animation
html {
  --antd-wave-shadow-color: #186bb1 !important;
}

// antd reset radio dot & border color
.ant-radio-inner::after {
  background-color: #337ddc !important;
}
.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: #337ddc !important;
}
.ant-radio-inner {
  width: 23px !important;
  height: 23px !important;
  border-width: 2px !important;
}
.ant-radio-inner::after {
  width: 11px !important;
  height: 11px !important;
  top: 4px !important;
  left: 4px !important;
}

.select-option-filter {
  font-size: 12px !important;
  color: #3e98ff !important;
  .ant-select-selector,
  .ant-select-selector:hover,
  .ant-select-selector:active {
    border: 0 !important;
    box-shadow: none !important;
    font-size: 12px !important;
  }
}

.ant-input,
.ant-input-number {
  border-radius: 4px !important;
}

/// table bg wrapper
.table-bg-wrapper {
  width: 100%;
  height: 593px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #5b5b5b26;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
}

.primary-table {
  &__header {
    padding: 16px 14px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style-type: none;
      font-size: 12px;
      margin-bottom: 0 !important;
    }
  }

  table tr td,
  table tr th {
    font-size: 12px !important;
    font-weight: 500 !important;
  }
  table tr td {
    padding: 20px 8px !important;
  }
  table tr th {
    font-weight: 700 !important;
    background-color: #d6edff !important;
  }
  table tr th:before {
    background-color: transparent !important;
  }
  table tr td:first-child,
  table tr th:first-child {
    padding-left: 20px !important;
  }
  p {
    font-weight: 500 !important;
    margin: 0 !important;
  }
}
// primary table action

.primary-table-action-menu li {
  font-size: 12px !important;
  span {
    font-weight: 500 !important;
  }
}

/// primary tabs

.primary-tabs {
  .ant-tabs-tab.ant-tabs-tab .ant-tabs-tab-btn {
    color: #c8c8c8 !important;
    font-size: 16px !important;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #3e98ff !important;
  }
  .ant-tabs-tab {
    padding: 8px 0 !important;
  }
  .ant-tabs-nav {
    margin: 0 !important;
  }
  .ant-tabs-nav-wrap {
    margin-left: 14px !important;
  }

  .ant-tabs-nav::before {
    border: 0 !important;
  }
}

.primary-range-picker {
  width: 245px !important;
  height: 40px !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  border: 1px solid #1768ac !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  .ant-picker-range-separator {
    padding: 0px 17px 0px 10px !important;
  }

  .ant-picker-input > input {
    font-size: 12px !important;
    color: #1768ac !important;
  }
  .ant-picker-suffix > * {
    width: 45px !important;
  }
}

// primary input

.primary-input {
  width: 269px !important;
  height: 48px !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  border: 1px solid #cfcfcf !important;
  border-radius: 4px !important;
  box-shadow: none !important;
}

.primary-input-number {
  width: 269px !important;
  box-shadow: none !important;
  height: 48px !important;
  border: 1px solid #cfcfcf !important;
  .ant-input-number-input {
    width: 265px !important;
    height: 46px !important;
    background: #ffffff 0% 0% no-repeat padding-box !important;

    border-radius: 4px !important;
  }
}

.primary-select-option {
  width: 269px !important;
  height: 48px !important;
  .ant-select-selector {
    height: 48px !important;
    background: #ffffff 0% 0% no-repeat padding-box !important;
    border: 1px solid #cfcfcf !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    padding: 5px 11px !important;
  }
  .ant-select-selection-item {
    font-weight: 500 !important;
    margin-top: 3px !important;
  }
}

/// primary radio group

.primary-radio-group {
  label span {
    font-size: 14px !important;
    font-weight: 500 !important;
    margin-bottom: -2px !important;
  }
}

.input-domain-suffix {
  color: #a8a8a8;
  font-size: 16px !important;
  border-left: 1px solid #d2d2d2;
  display: inline-block;
  padding-left: 10px;
}

// primary date-picker
.primary-date-picker {
  width: 269px !important;
  height: 48px !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  border: 1px solid #cfcfcf !important;
  border-radius: 4px !important;
  box-shadow: none !important;
}

// primary upload dragger
.primary-upload-dragger {
  width: 269px !important;
  height: 188px !important;
  background-color: #f5f9ff !important;
  border: 1px dashed #337ddc !important;
  border-radius: 4px !important;
}

// Primary Modal
.primary-modal {
  .ant-modal-content {
    width: 738px;
    height: 343px;
  }
  .ant-modal-title {
    font-weight: 700 !important;
  }
  .ant-modal-header {
    padding: 20px 24px;
  }
}

// form primary
.form-primary {
  label {
    font-size: 12px !important;
    font-weight: 500 !important;
  }
}

// primary text area
.primary-textarea {
  width: 543px !important;
  height: 159px !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  border: 1px solid #cfcfcf !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  resize: none !important;
}

// primary-checkbox

.primary-checkbox {
  span {
    font-size: 14px !important;
    font-weight: 500 !important;
  }
}
.primary-checkbox-group {
  span {
    font-size: 12px !important;
  }
}

.primary-tree {
  background-color: transparent !important;
  .ant-tree-switcher img {
    margin-bottom: 2px !important;
  }
  .ant-tree-title {
    font-size: 14px !important;
    // font-weight: 500 !important;
  }
}

.ant-message-custom-content svg {
  margin-bottom: 8px !important;
}

// tree antd
.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: transparent !important;
}
.ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle {
  width: 25px !important;
  line-height: 22px !important  ;
  position: absolute;
  left: -21px;
}

// antd default required steric.

// .ant-form-item-label
//   > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
//   position: absolute;
//   right: -12px;
//   top: 0;
// }
.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none !important;
}

// upload icon
.ant-upload-list-text .ant-upload-text-icon .anticon {
  margin-bottom: 5px;
}

.hide-controls .ant-input-number-handler-wrap {
  visibility: hidden;
}

//////////////////////////////////////////////////////////////////////////
//                                CUSTOM COMPONENTS
//////////////////////////////////////////////////////////////////////////

.main-wrapper {
  padding: 24px 60px 24px 37px;
  margin-left: 251px;
  margin-top: 72px;

  width: "100vw";
}

// primary search

.primary-search {
  border: 1px solid #e8e8e8 !important;
  border-radius: 4px !important;
  width: 253px !important;
  height: 40px !important;
  box-shadow: none !important;

  input.ant-input {
    padding-left: 10px !important;
    font-size: 12px !important;
    font-weight: 400 !important;
  }
}

/// table column status
.col-status {
  font-size: 12px;
  padding: 4px 11px;
  width: 78px;
  height: 23px;
  border-radius: 20px;
}
.status-approved,
.status-active,
.status-paid {
  color: #40af3c;
  background-color: #edffec;
}
.status-declined,
.status-inactive,
.status-unpaid {
  color: #ff0000;
  background-color: #fff3f3;
}
.status-pending {
  color: #ff9e00;
  background-color: #fff7e9;
}

////////////// breadcrumb
.breadcrumb {
  font-size: 16px;
  margin-bottom: 0 !important;
  img {
    margin-right: 9px;
  }
  span {
    margin-top: 6px;
    font-weight: 700;
  }
}

.primary-switch {
  min-width: 32px !important;
  height: 18px !important;
  .ant-switch-handle {
    width: 12px !important;
    height: 12px !important;
    top: 3px !important;
  }
  span {
    vertical-align: middle !important;
  }
}
.ant-switch-checked .ant-switch-handle {
  left: calc(100% - 15px) !important;
}

// divider between text
.divider-between {
  flex: 1;
  border-bottom: 1px dashed #bebebe;
  margin-bottom: 10px;
}
// payment detail card color
.color-paid {
  color: #40af3c !important;
}
.color-payment {
  color: #ff7904 !important;
}
.color-received {
  color: #1768ac !important;
}

// status blinking dot
.status-dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #40af3c;
  border-radius: 50%;
  animation: blinkAnimation infinite 1500ms ease-in;
  vertical-align: middle;
}

@keyframes blinkAnimation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

///// trial alert
.alert-trial {
  min-width: 244px;
  height: 42px;
  background: #eff8ff 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 14px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #1768ac;
  display: inline-block;
}

//// page card
.page-card {
  // width: 100%;
  min-height: 638px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #5b5b5b26;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  padding: 25px 36px;
  hr {
    background-color: #c5c5c5 !important;
  }

  &__content {
    padding: 0 10px;
  }

  label {
    font-size: 12px !important;
    font-weight: 500 !important;
  }
}

.page-card-header {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 13px;
  margin-bottom: 23px;
}

//// custom phone

.primary-input-phone {
  input {
    width: 269px !important;
    height: 48px !important;
    background: #ffffff 0% 0% no-repeat padding-box !important;
    border: 1px solid #cfcfcf !important;
    border-radius: 4px !important;
    box-shadow: none !important;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.no-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

// rechart pie chart

.map-wrapper .recharts-wrapper {
  top: -130px;
  left: 55%;
  transform: translateX(-50%);
}

// vertical editor
.vertical-divider {
  width: 0px;
  height: 402px;
  border: 1px solid #e9e9e9;
  margin: 0 46px;
}

// error message
.error-message {
  position: relative;
  animation: AnimateDown 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
  top: 0px;
  color: #ff4d4f;
  filter: blur(0px);
}
@keyframes AnimateDown {
  0% {
    top: -7px;
  }
  20% {
    filter: blur(0.4px);
  }
}
// 40% {
//
// }

// error message
