.down-icon {
  width: 10px;
}

.button-plus-icon {
  margin-bottom: 2px;
  margin-right: 8px;
}

.auto-renew-icon {
  margin-right: 6px;
  position: relative;
  top: 2px;
}

.icon-graph {
  margin-right: 8px;
}

.graph-icon-line-tooltip {
  margin-right: 5px;
  margin-bottom: auto;
}
